{% extends "base.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageHeading = "Select the account number of the office handling this application" %}
{% set pageTitle = pageHeading %}

{% block content %}
<div class="govuk-width-container">
  {{ govukBackLink({
    text: "Back",
    href: "/apply"
  }) }}

  {% if errorSummaries.noOfficeSelected %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: errorSummaries.noOfficeSelected.text,
          href: "#office-accounts"
        }
      ]
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form data-testid="office-accounts-form" action="/apply/office-accounts" method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
        {% if officeOptions.length %}
          {{ govukRadios({
            idPrefix: "office-accounts",
            name: "office-accounts",
            fieldset: {
              legend: {
                text: pageHeading,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: officeOptions,
            errorMessage: errorSummaries.noOfficeSelected
          }) }}
        {% else %}
          <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
          {{ govukInsetText({
            text: "No office accounts were found for this firm."
          }) }}
        {% endif %}

        {{ govukButton({
            text: "Save and continue",
            type: "submit"
        }) }}
      </form>
    </div>
  </div>
</div>
{% endblock %}

