{% extends "base.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageHeading = t("pages.apply.officeAccounts.selectOffice.title") if officeOptions.length else t("pages.apply.officeAccounts.noOffices.title") %}
{% set pageTitle = pageHeading %}

{% block content %}
<div class="govuk-width-container">
  {{ govukBackLink({
    text: "Back",
    href: backHref or "/apply"
  }) }}

  {% if errorSummaries.noOfficeSelected %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: errorSummaries.noOfficeSelected.text,
          href: "#office-accounts"
        }
      ]
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if officeOptions.length %}
        <form data-testid="office-accounts-form" action="/apply/office-accounts" method="post">
          <input type="hidden" name="_csrf" value="{{csrfToken}}" />
          {{ govukRadios({
            idPrefix: "office-accounts",
            name: "office-accounts",
            fieldset: {
              legend: {
                text: pageHeading,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: t("pages.apply.officeAccounts.selectOffice.hint")
            },
            items: officeOptions,
            value: selectedOfficeId,
            errorMessage: errorSummaries.noOfficeSelected
          }) }}
          <p class="govuk-body">{{ t("pages.apply.officeAccounts.selectOffice.paragraph") }}</p>

          {{ govukButton({
              text: "Continue",
              type: "submit"
          }) }}
        </form>
      {% else %}
        {% set returnLink = config.SILAS_HOMEPAGE if (not hasRole(appRoles.CLAIMS_USER)) else "/" %}
        {{ govukPanel({
          classes: "govuk-panel--interruption",
          titleText: pageHeading,
          html: '<p class="govuk-body">' + t("pages.apply.officeAccounts.noOffices.body") + '</p>',
          actions: {
            items: [
              {
                href: returnLink,
                text: t("pages.apply.officeAccounts.noOffices.returnLink")
              }
            ]
          }
        }) }}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

