{% extends "base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({
    text: "Back",
    href: "/apply/client-details/home-address"
  }) }}
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form data-testid="correspondence-address-source-form" action="/apply/client-details/correspondence-address-source" method="post">
          <input type="hidden" name="_csrf" value="{{csrfToken}}" />
          {{ govukRadios({
            idPrefix: "correspondence-address-source",
            name: "correspondence-address-source",
            value: client.correspondenceAddressSource,
            errorMessage: errorSummaries.noRadioSelected,
            fieldset: {
              legend: {
                text: "Where should we send your client's correspondence?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "We can not send correspondence to non-UK addresses."
            },
            items: [
              {
                value: "USE_CLIENT_HOME_ADDRESS",
                text: "My client's UK home address"
              },
              {
                value: "USE_SPECIFIED_ADDRESS",
                text: "Another UK address"
              },
              {
                value: "USE_PROVIDER_ADDRESS",
                text: "My office address",
                hint: {
                  text: "Use this option if your client has no fixed address"
                }
              }
            ]
          }) }}
          {{ govukButton({
            text: "Continue"
          }) }}
        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}
