{% extends "base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "moj/components/multi-file-upload/macro.njk" import mojMultiFileUpload %}
{%- from "govuk/components/error-summary/macro.njk" import govukErrorSummary -%}
{% set pageHeading = "Upload evidence" %}
{% set pageTitle = pageHeading %}


{% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({
    text: "Back",
    href: "/claim/total-cost"
  }) }}
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

          {% if errorSummaries and errorSummaries.evidenceError %}
            {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: [{
                text: errorSummaries.evidenceError.text,
                href: "#documents"
              }]
            }) }}
          {% endif %}

          <p class="govuk-body">You can upload:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>.jpg, .png, .pdf, .bmp</li>
            <li>10mb max</li>
          </ul>

          <p class="govuk-body">Examples of evidence include: a court order, court attendance notes, an evidence bundle.</p>

          <p class="govuk-body">When uploading evidence, make sure file names match the names used in the uploaded LAA cost claim evidence template</p>

          <p class="govuk-body">for help and guidance, read <a class="govuk-link" href="#">How to complete the LAA cost claim template and submit evidence</a></p>

          <p class="govuk-body">You can upload all your files at once, or one at a time.</p>
          
          <form action="/claim/evidence/upload" method="post" enctype="multipart/form-data">
            <input type="hidden" name="uploadMode" value="html" />
            {% set uploadHtml %}
              {% set errorMessage = errorSummaries.evidenceError if errorSummaries and errorSummaries.evidenceError %}
              {{ govukFileUpload({
                id: "documents",
                name: "documents",
                classes: "moj-multi-file-upload__input",
                label: {
                  text: "Upload new files",
                  classes: "govuk-label--m govuk-heading-l"
                },
                attributes: { accept: ".pdf,.jpg,.jpeg,.png,.bmp" },
                errorMessage: errorMessage
              }) }}

              {{ govukButton({
                text: "Upload file",
                classes: "govuk-button--secondary moj-multi-file-upload__button"
              }) }}
            {% endset %}

              {{ mojMultiFileUpload({
                uploadedFiles: {
                heading: { text: "Uploaded files" },
                items: uploadedFiles
              },
              uploadHtml: uploadHtml
            }) }}
          </form>

          <form data-testid="evidence-form" action="/claim/evidence" method="post">
          <input type="hidden" name="_csrf" value="{{csrfToken}}" />
            {{ govukButton({
              text: "Continue",
              type: "submit"
            }) }}
          </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}
