{% extends "base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% set pageHeading = "What is the outcome of the inquest?" %}
{% set pageTitle = pageHeading %}

{% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({
    text: "Back",
    href: backHref
  }) }}
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% if errorSummaries.inquestOutcomeInputError %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: errorSummaries.inquestOutcomeInputError.text,
              href: "#inquest-outcome"
            }
          ]
        }) }}
        {% endif %}
        <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

        <form data-testid="inquest-outcome-form" action="/claim/inquest-outcome" method="post">
          <input type="hidden" name="_csrf" value="{{csrfToken}}" />
          {{ govukCheckboxes({
            name: "inquest-outcome",
            idPrefix: "inquest-outcome",
            fieldset: {
              legend: {
                text: "Select all that apply",
                classes: "govuk-fieldset__legend--s"
              }
            },
            errorMessage: errorSummaries.inquestOutcomeInputError,
            items: outcomeOptions
          }) }}
          {{ govukButton({
            text: "Continue",
            type: "submit"
          }) }}
        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}
