{% extends "base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% set pageHeading = "What are the financial recovery costs?" %}
{% set pageTitle = pageHeading %}

{% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({
    text: "Back",
    href: backHref or "/claim/inquest-outcome-recovery"
  }) }}
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% if errorSummaries.costsInputError or errorSummaries.damagesInputError or errorSummaries.interestInputError or errorSummaries.previousPreCertificateCostsInputError %}
        <div class="govuk-error-summary" data-module="govuk-error-summary">
          <div role="alert">
            <h2 class="govuk-error-summary__title">There is a problem</h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                {% if errorSummaries.costsInputError %}
                <li>
                  <a href="#costs">{{ errorSummaries.costsInputError.text }}</a>
                </li>
                {% endif %}
                {% if errorSummaries.damagesInputError %}
                <li>
                  <a href="#damages">{{ errorSummaries.damagesInputError.text }}</a>
                </li>
                {% endif %}
                {% if errorSummaries.interestInputError %}
                <li>
                  <a href="#interest">{{ errorSummaries.interestInputError.text }}</a>
                </li>
                {% endif %}
                {% if errorSummaries.previousPreCertificateCostsInputError %}
                <li>
                  <a href="#previous-pre-certificate-costs">{{ errorSummaries.previousPreCertificateCostsInputError.text }}</a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
        {% endif %}
        <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
        <form data-testid="recovery-costs-form" action="/claim/recovery-costs" method="post">
          <input type="hidden" name="_csrf" value="{{csrfToken}}" />
          {{ govukInput({
            label: {
              text: "Costs",
              classes: "govuk-label--s"
            },
            id: "costs",
            name: "costs",
            value: costs,
            classes: "govuk-input--width-10",
            prefix: { text: "£" },
            inputmode: "decimal",
            errorMessage: errorSummaries.costsInputError
          }) }}
          {{ govukInput({
            label: {
              text: "Damages",
              classes: "govuk-label--s"
            },
            id: "damages",
            name: "damages",
            value: damages,
            classes: "govuk-input--width-10",
            prefix: { text: "£" },
            inputmode: "decimal",
            errorMessage: errorSummaries.damagesInputError
          }) }}
          {{ govukInput({
            label: {
              text: "Interest",
              classes: "govuk-label--s"
            },
            id: "interest",
            name: "interest",
            value: interest,
            classes: "govuk-input--width-10",
            prefix: { text: "£" },
            inputmode: "decimal",
            errorMessage: errorSummaries.interestInputError
          }) }}
          {{ govukInput({
            label: {
              text: "Previous pre-certificate costs",
              classes: "govuk-label--s"
            },
            id: "previous-pre-certificate-costs",
            name: "previous-pre-certificate-costs",
            value: previousPreCertificateCosts,
            classes: "govuk-input--width-10",
            prefix: { text: "£" },
            inputmode: "decimal",
            errorMessage: errorSummaries.previousPreCertificateCostsInputError
          }) }}
          {{ govukButton({
            text: "Continue",
            type: "submit"
          }) }}
        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}

