{% extends "base.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% set pageHeading = "What is your total claim cost?" %}
{% set pageTitle = pageHeading %}

{% block content %}

<div class="govuk-width-container">
  {% set errors = errorSummaries or {} %}
  {{ govukBackLink({
    text: "Back",
    href: backHref
  }) }}
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% if isFinalBill %}
          {% include "claim/partials/total-cost/final-bill.njk" %}
        {% else %}
          {% include "claim/partials/total-cost/poa.njk" %}
        {% endif %}
      </div>
    </div>
  </main>
</div>
{% endblock %}
