{% extends "base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block content %}

<div class="govuk-width-container">
  {% set errors = errorSummaries or {} %}
  {{ govukBackLink({
    text: "Back",
    href: backHref
  }) }}
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% if errors.zeroVatTotalInputError or errors.netTotalInputError or errors.grossTotalInputError %}
        <div class="govuk-error-summary" data-module="govuk-error-summary">
          <div role="alert">
            <h2 class="govuk-error-summary__title">There is a problem</h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                {% if errors.zeroVatTotalInputError %}
                <li>
                  <a href="#zero-vat-total">{{ errors.zeroVatTotalInputError.text }}</a>
                </li>
                {% endif %}
                {% if errors.netTotalInputError %}
                <li>
                  <a href="#net-total">{{ errors.netTotalInputError.text }}</a>
                </li>
                {% endif %}
                {% if errors.grossTotalInputError %}
                <li>
                  <a href="#gross-total">{{ errors.grossTotalInputError.text }}</a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
        {% endif %}

        <h1 class="govuk-heading-l">What is your total claim cost?</h1>

        <form data-testid="total-cost-form" action="/claim/total-cost" method="post">
          <input type="hidden" name="_csrf" value="{{csrfToken}}" />

          {{ govukInput({
            label: {
              text: "Total for costs charged at 0% VAT",
              classes: "govuk-label--s"
            },
            id: "zero-vat-total",
            name: "zero-vat-total",
            value: zeroVatTotal,
            classes: "govuk-input--width-10",
            prefix: { text: "£" },
            inputmode: "decimal",
            errorMessage: errors.zeroVatTotalInputError
          }) }}

          {{ govukInput({
            label: {
              text: "Net total excluding VAT, for costs where VAT can be charged",
              classes: "govuk-label--s"
            },
            id: "net-total",
            name: "net-total",
            value: netTotal,
            classes: "govuk-input--width-10",
            prefix: { text: "£" },
            inputmode: "decimal",
            errorMessage: errors.netTotalInputError
          }) }}

          {{ govukInput({
            label: {
              text: "Gross total of claim including VAT",
              classes: "govuk-label--s"
            },
            id: "gross-total",
            name: "gross-total",
            value: grossTotal,
            classes: "govuk-input--width-10",
            prefix: { text: "£" },
            inputmode: "decimal",
            errorMessage: errors.grossTotalInputError
          }) }}

          {{ govukButton({
            text: "Continue",
            type: "submit"
          }) }}
        </form>
      </div>
    </div>
  </main>
</div>
{% endblock %}
