{% extends "base.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageHeading = "Your application has been submitted" %}
{% set pageTitle = pageHeading %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    {{ govukPanel({
      titleText: pageHeading,
      html: "Application reference number<br><strong>" ~ (applicationReferenceNumber | escape) ~ "</strong>"
    }) }}
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l govuk-!-padding-top-8">What happens next</h2>
      <p class="govuk-body">
        We have sent you an email that contains details of the information you have entered.
      </p>
      <p class="govuk-body">
        You should print a copy of your application and ask your client to sign the declaration. Keep this on file in case it is requested by the Legal Aid Agency for audit purposes.
      </p>
      <p class="govuk-body">
        Your application will be reviewed by the Legal Aid Agency, and we will update you with our decision by email.
      </p>
      {{ govukButton({
        text: "Make a new application",
        href: "/apply",
        classes: "govuk-!-margin-top-6"
      }) }}
    </div>
  </div>
</div>

{% endblock %}