{% extends "base.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% set pageHeading = "Before you start your application" %}
{% set pageTitle = pageHeading %}

{% block content %}
<div class="govuk-width-container">
    {{ govukBackLink({
        text: "Back",
        href: "/"
    }) }}
    {% if errorSummaries.noDeclarationConfirmation %}
    {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
            { 
                text: errorSummaries.noDeclarationConfirmation.text,
                href: "#application-declaration-confirmation"
            }
        ]
    }) }}
    {% endif %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
            <form data-testid="application-declaration-form" action="/apply" method="post">
                <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                <p class="govuk-body">You can't save your application as you go, so please ensure you have all the information you need before you start.</p>
                <p class="govuk-body">To complete your inquest legal aid application, you'll need the following:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        details of your client, including their national insurance number
                    </li>
                    <li>
                        details of the deceased, including their date of birth and death
                    </li>
                    <li>
                        information from the coroner, including:
                        <ul>
                            <li>a digital  coroner's reference number</li>
                            <li>any relevant dates and documents</li>
                        </ul>
                    </li>
                </ul>
                {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

                {{ govukWarningText({
                    html: 
                        "By submitting this claim, you are confirming that:
                        <ul>
                            <li>all work has been accurately accounted for as per the terms of your contract</li>
                            <li>all work can be evidenced, if required</li>
                            <li>you are authorised to submit a claim for costs</li>
                        </ul>",
                    iconFallbackText: "Warning"
                }) }}
                {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

                {{ govukCheckboxes({
                name: "application-declaration-confirmation",
                errorMessage: errorSummaries.noDeclarationConfirmation,
                items: [
                    {
                        value: "true",
                        text: "I confirm that I have read and agree to the declaration",
                        checked: alreadyDeclared
                    }
                ]
                }) }}
                {{ govukButton({
                    text: "Start",
                    isStartButton: true
                }) }}
            </form>
        </div>
    </div>
</div>
{% endblock %}