{% extends "base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block content %}
<div class="govuk-width-container">
  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">      
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-l">Declaration</h2>
        <p class="govuk-body">
          By continuing, you agree that:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <p class="govuk-body">Your client has instructed you to represent them</p>
          </li>
          <li>
            <p class="govuk-body">You'll go through all parts of the application with your client</p>
          </li>
          <li>
            <p class="govuk-body">You'll provide complete and correct information</p>
          </li>
        </ul>
        {{ govukButton({
                text: "Agree and continue",
                href: "/apply/client-details/name-and-dob"
            }) }}
      </div>
    </div>
  </main>
</div>
{% endblock %}