{% extends "base.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageHeading = "Upload coroner's letter" %}
{% set pageTitle = pageHeading %}

{% block content %}
<div class="govuk-width-container">
  {{ govukBackLink({
      text: "Back",
      href: backHref or "/apply/public-authority"
  }) }}
  <main class="govuk-main-wrapper">
  {% if errorSummaries %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: errorSummaries.coronersLetterError.text,
              href: "#coroners-letter-upload"
            }
          ]
        })
      }}
    {% endif %}
    <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
    <form data-testid="upload-coroners-letter-form" action="/apply/upload-coroners-letter" method="post" enctype="multipart/form-data">
      <input type="hidden" name="_csrf" value="{{csrfToken}}" />
      {% set hintHtml %}
        <p class="govuk-body">The maximum file size for each file is 10MB. We can accept these file types:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>pdf</li>
          <li>jpeg, jpg</li>
          <li>png</li>
          <li>bmp</li>
        </ul>
        <p class="govuk-body">Filenames should only include the letters a-z and A-Z, numbers 0-9, spaces, and the characters .!()_-. Using other characters in your filenames could cause the uploads to fail.</p>
      {% endset %}
      {{ govukFileUpload({
        id: "coroners-letter-upload",
        name: "coroners-letter-file-upload",
        label: {
          text: "Attach a file",
          classes: "govuk-label--m"
        },
        hint: {
          html: hintHtml
        },
        attributes: {
          accept: ".pdf,.jpg,.jpeg,.png,.bmp"
        },
        javascript: true,
        errorMessage: errorSummaries.coronersLetterError
      }) }}
      {{ govukButton({ text: "Continue" }) }}
    </form>
  </main>
</div>
{% endblock %}