{% extends "base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{%- from "moj/components/search/macro.njk" import mojSearch -%}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({
    text: "Back",
    href: "/apply/client-details/has-prev-application"
  }) }}
  {% if errorSummaries.noPublicAuthoritySelected %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: [
      { text: errorSummaries.noPublicAuthoritySelected.text }
    ]
  }) }}
{% endif %}
 
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}


         <form data-testid="add-proceeding-form" action="/apply/public-authority" method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}" />
              
            {{ govukRadios({
            name: "publicAuthorityOption",
            fieldset: {
                legend: {
                   text: "Which public authority needs to be added?" if isAddingAnother else t("pages.apply.publicAuthority.title"),
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
                text: t("pages.apply.publicAuthority.search.hint")
            },
            errorMessage: errorSummaries.noPublicAuthoritySelected,            value: publicAuthorityOption,
            items: publicAuthorityOptions
            }) }}

            {{
              govukButton({
                text: "Continue"
              })
            }}
        </form>
      </div>
    </div>
  </main>
</div>



{% endblock %}