{% extends "base.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% set pageHeading = "Is your client a family member of the deceased?" %}
{% set pageTitle = pageHeading %}

{% block content %}
<div class="govuk-width-container">
    {{ govukBackLink({
        text: "Back",
        href: backHref or "/apply/deceased-details/dob"
    }) }}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% if errorSummaries.hasClientRelationshipInputError or errorSummaries.clientRelationshipInputError %}
            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: [
                    {
                        text: errorSummaries.hasClientRelationshipInputError.text,
                        href: "#deceased-has-client-relationship"
                    } if errorSummaries.hasClientRelationshipInputError,
                    {
                        text: errorSummaries.clientRelationshipInputError.text,
                        href: "#deceased-client-relationship"
                    } if errorSummaries.clientRelationshipInputError
                ]
            }) }}
            {% endif %}
            <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
            <p class="govuk-hint">To qualify for legal aid, your client must be a family member of the deceased.</p>
            <p class="govuk-hint">A family member is defined as: </p>
            <ul class="govuk-hint govuk-list govuk-list--bullet">
                <li>a relative by either full or half blood, marriage, or civil partnership</li>
                <li>someone with parental responsibility</li>
                <li>a cohabitant as defined in the Family Law Act 1996</li>
            </ul>
            <form data-testid="deceased-client-relationship-form" action="/apply/deceased-details/client-relationship" method="post">
                <input type="hidden" name="_csrf" value={{csrfToken}} />
                {{ govukRadios({
                    name: "deceased-has-client-relationship",
                                            id: "deceased-has-client-relationship",
                    value: deceasedDetails.hasClientRelationship,
                                            errorMessage: errorSummaries.hasClientRelationshipInputError,
                    items: [
                    {
                        value: "true",
                        text: "Yes, my client is a family member",
                        conditional: {
                            html:  govukInput({
                                id: "deceased-client-relationship",
                                name: "deceased-client-relationship",
                                type: "text",
                                spellcheck: false,
                                classes: "govuk-!-width-one-half",
                                label: {
                                    text: "My client is the deceased's:"
                                },
                                hint: {
                                    text: "For example: mother, brother"
                                },
                                errorMessage: errorSummaries.clientRelationshipInputError,
                                value: deceasedDetails.clientRelationship
                        })}
                    },
                    {
                        value: "false",
                        text: "No, my client has a different relationship"
                    }
                    ]
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
</div>
{% endblock %}