{% extends "base.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block content %}
<div class="govuk-width-container">
    {{ govukBackLink({
        text: "Back",
        href: "/apply/deceased-details/client-relationship"
    }) }}
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-l">What is the coroner's reference?</h2>
                <form data-testid="deceased-coroner-reference-form" action="/apply/deceased-details/coroner-reference" method="post">
                    <input type="hidden" name="_csrf" value={{csrfToken}} />
                    {{ govukInput({
                        id: "deceased-coroner-reference",
                        name: "deceased-coroner-reference",
                        type: "text",
                        spellcheck: false,
                        classes: "govuk-!-width-one-half",
                        label: {
                            text: "Please enter your reference number"
                        },
                        value: deceasedDetails.coronerReference
                    }) }}
                    {{ govukButton({
                        text: "Continue"
                    }) }}
                </form>
            </div>
        </div>
    </main>
<div>
{% endblock %}