{% extends "base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{%- from "moj/components/search/macro.njk" import mojSearch -%}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageHeading = t("pages.apply.proceedings.title") %}
{% set pageTitle = pageHeading %}

{% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({
    text: "Back",
    href: "/apply/client-details/correspondence-recipient"
  }) }}
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% if errorSummaries %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: errorSummaries.noProceedingSelected.text,
                href: "#proceeding-option"
              }
            ]
          })
        }}
        {% endif %}
         <form data-testid="add-proceeding-form" action="/apply/proceeding" method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}" />
              {{ govukRadios({
                name: "proceeding-option",
                fieldset: {
                  legend: {
                    text: pageHeading,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                  }
                },
                hint: {
                    text: t("pages.apply.proceedings.search.hint")
                },
                errorMessage: errorSummaries.noProceedingSelected,
                value: proceedingOption,
                items: proceedingOptions
              })
            }}
            {{
              govukButton({
                text: "Continue"
              })
            }}
        </form>
      </div>
    </div>
  </main>
</div>



{% endblock %}