{% extends "base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
    <h1 class="govuk-heading-xl">Inquests</h1>

    <p class="govuk-body">{{ t('pages.home.defaultTemplate') }}</p>


    {{ govukButton({
        text: "Apply",
        href: "/apply"
    }) }}
{% endblock %}