{% extends "base.njk" %}
{% set pageHeading = "Sorry, there is a problem with the service" %}
{% set pageTitle = pageHeading %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
      <p class="govuk-body">Try again later.</p>
    </div>
  </div>
{% endblock %}
