<!-- Masthead and call to action -->
<main id="main" role="main">
    
<div class="app-masthead">
  <div class="app-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full-from-desktop">
        <p class="govuk-heading-xl app-masthead__title"> Develop and deliver your service, using this Express with TypeScript template <span style='font-size:42px;'>&#128075;</span></p>
        <p class="app-masthead__description">This template is part of the "software frameworks" guardrail in <a href="https://dsdmoj.atlassian.net/wiki/spaces/LTA/pages/5546967072/Framework+Guardrails#ExpressJS-(TypeScript)" style="color: white;" target="_blank" rel="noopener noreferrer">LAA Digital</a></p>

        <a href="https://ministryofjustice.github.io/laa-express-typescript-template/documentation/getting-started.html" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-6 govuk-body govuk-!-font-size-24" style="color: #b61db8;" data-module="govuk-button">
          Quick start
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>
      </div>

    </div>
  </div>
</div>

</main>

# Who is this documentation for?
This is technical documentation for Digital teams across government, who want to use Express with TypeScript and GOV.UK styles, components & patterns.

## Getting Started
- [Getting Started](documentation/getting-started.html)

## Template structure
- [Template structure](documentation/template-structure.html)
- [Testing](documentation/testing.html)
- [Centralised Locale System](documentation/locales.html)

## Features
- [Features](documentation/features.html)
- [Scripts helpers](documentation/script-helpers.html)
- [Schema validation](documentation/schema-validation.html)

## Adding to the template
If there’s something missing, please either let us know and we’ll add a new article, or if you’re comfortable writing one yourself, PRs will be gratefully received. Details on how to get in touch are in the “GithHub” link at the top right of this page will take you to the repository for this guide.

