{% extends "base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{%- from "moj/components/search/macro.njk" import mojSearch -%}

{% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({
    text: "Back",
    href: "/apply/proceedings"
  }) }}
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% if selectedProceedings.length > 0 %}
        {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
            {{ govukSummaryList({
            attributes: { "data-testid": "proceedings-table"},
            card: {
            title: {
                text: "Proceedings added"
              }
            },
            rows: selectedProceedings
          })
        }}
        {% endif %}
         <form data-testid="add-another-proceeding-form" action="/apply/proceedings/confirmation" method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}" />
              {{ govukRadios({
                name: "add-another-proceeding",
                value: isAddingAnotherProceeding,
                errorMessage: errorSummaries.noConfirmationSelected,
                fieldset: {
                  legend: {
                    text: "Do you want to add another proceeding?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                  }
                },
                items: [{ value: "true", text: "Yes" }, { value: "false", text: "No" }]
              })
            }}
            {{
              govukButton({
                text: "Continue"
              })
            }}
        </form>
      </div>
    </div>
  </main>
</div>



{% endblock %}